*{
  margin:0;
  border:none;
  padding:0;
  font-family: Arial,'Yu Gothic','Hiragino Kaku Gothic ProN','Yu Mincho Light','Hiragino Mincho ProN','Meiryo UI',sans-serif;
}
.inner{
  width:96%;
  max-width:1366px;
  margin:0 auto;
  overflow-x:hidden;
}
ul,ol{
	margin: 8px 0;
	padding-inline-start: 1.2em;
}
h1{
  margin: 8x 0 12px;
}
table{
  border-collapse: collapse;
  margin: 16px 0;
  td{
    border: 1px solid #282523;
    padding: 1px 4px;
  }
}
div.here{
  border: 1px solid #282523;
  padding: 8px;
  &#here{
    margin: 4px 0 12px;
  }
  &.list{
    margin: 12px 0;
  }
  &#list2{
    margin: 12px 0 0;
    p{
      text-align: center;
    }
  }
  &#list3{
    display: inline-block;
  }
  &#list4{
    display: inline-block;
    p{
      text-align: center;
    }
    margin: 12px;
  }
}
p#fz12{
  font-size: 12px;
}
p#fz144{
  font-size: 14.4px;
}
p#fz16{
  font-size: 16px;
}
p#fz18{
  font-size: 18px;
}
p.dib{
  display: inline-block;
  margin: 12px 0;
}

p.default{
  margin: 12px 0 0;
}
p#fz8em{
  font-size: 0.8em;
}
p#fz1em{
  font-size: 1em;
}
p#fz12em{
  font-size: 1.2em;
}

p#fz80percent{
  font-size: 80%;
}
p#fz100percent{
  font-size: 100%;
}
p#fz120percent{
  font-size: 120%;
}


.transparent{
  opacity:0 !important;
}
.none{
  display:none !important;
}