*{
  margin:0;
  border:none;
  padding:0;
  font-family: Arial,'Yu Gothic','Hiragino Kaku Gothic ProN','Yu Mincho Light','Hiragino Mincho ProN','Meiryo UI',sans-serif;
}
.inner{
  width:96%;
  max-width:1366px;
  margin:0 auto;
  overflow-x:hidden;
}
// ul,ol{
// 	margin: 8px 0;
// 	padding-inline-start: 2em;
// }
h1{
  margin: 8x 0 12px;
}
table{
  border-collapse: collapse;
  margin: 16px 0;
  td{
    border: 1px solid #282523;
    padding: 1px 4px;
  }
}
div#here{
  border: 1px solid #282523;
  padding: 8px;
}

.transparent{
  opacity:0 !important;
}
.none{
  display:none !important;
}